.form-1{
    border: 2px solid red;
    width: 55%;
    position: relative;
    margin: auto;

}
.mb-3{
    padding: 20px;
    margin: auto;
    /*display: flex;*/
}
.form-1 input{
    width: 90%;
    height: 2em;
    border-radius: 5px;
    padding: 13px;
}
.det-1{
    border: 2px solid blue;
    display: block;
}


.dte-4 input{
    width:3%;
    height: 1em;
    padding: 13px;


}
.buto{
    position: relative;
    left: 45%;
    height: 2.7em;
    width: 11%;
}
.mb-33{
    padding: 13px;
    margin: 15px;

}
Form{
    border: 2px solid green;
}

.dte-5{
    height:5em;
    background-color: #a0db57;

}

.dte-6{
  position: absolute;
    right: 5%;
}
